+----------------------------------------------------------------------------+

Rule 1 : No harrassment of any kind is acceptable.
Rule 2 : Please try not to swear in a public area.  Although you may not find
         it offensive some people might.  So please try to keep that to
         private rooms.
Rule 3 : Do not ask for a promotion in levels.  If you are deemed worthy of
         promotion, then you will be promoted.
Rule 4 : No illegal dealings are to take place in a public area on the talker,
         ie, the selling of drugs, illegaly copied materials, pornography,
         etc.  I know it seems a little over the top to be telling you this,
         but it's for our own interest ;)
Rule 5 : No multiple accounts.  If you want to change your alias or would like
         an alias deleted, then use suicide or smail a wiz about it.

+----------------------------------------------------------------------------+
