server:
  verification: amnutsabc
  ports:
    main: 2402
    wiz: 2403
    link: 2404
  max_users: 50
  max_clones: 5
  heartbeat: 2

timeouts:
  login_idle: 180
  user_idle: 3600
  timeout_afks: true
  timeout_maxlevel: WIZ

defaults:
  colour: true
  prompt: false
  charecho: false
  passwordecho: false
  warp_room: reception
  jail_room: cupboard
  bank_room: safe
  shoot_room: directors

moderation:
  ban_swearing: 'OFF'
  minlogin_level: NONE
  min_private: 2
  ignore_mp_level: ARCH
  gatecrash_level: GOD
  boot_off_min: true
  flood_protect: true

system:
  logging: true
  ignore_sigterm: false
  auto_connect: true
  crash_action: NONE
  resolve_ip: AUTO
  random_motds: true

users:
  auto_purge: false
  allow_recaps: true
  auto_promote: false
  personal_rooms: true
  startup_room_parse: true
  rem_user_maxlevel: SUPER
  rem_user_deflevel: USER
  wizport_level: WIZ

messages:
  lifetime_days: 10
  check_time: 01:00

sites:
  talker1:
    address: localhost
    port: 5002
    verification: test123
    allow: ALL
  darkroom:
    address: foo.bar.com
    port: 3456
    verification: Bloggs456
    allow: ALL
  myplace:
    address: 11.11.11.11
    port: 7401
    verification: NotReal
    allow: ALL
